## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
bin/
obj/
[Bb]uild/
[Ll]og/

## Rider / JetBrains
.idea/
*.sln.iml

## Visual Studio Code
.vscode/

## ASP.NET / .NET Core
*.dbmdl
*.jfm
*.pdb
*.dll
*.exe
*.cache
*.log

## NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

## Entity Framework
Migrations/obj/

## Publish output
publish/
out/

## Temporary files
*.tmp
*.temp
*.bak
*.old

## OS files
Thumbs.db
ehthumbs.db
.DS_Store
ContractDevApi/ContractDevApi/wwwroot/images/10adf4cd-53d4-404c-9f8b-bb0a6d2c74b2.png
ContractDevApi/ContractDevApi/wwwroot/images/29731d54-a775-4e11-ae7f-8122c72205a3.png
ContractDevApi/ContractDevApi/wwwroot/images/10dd5495-3545-477a-94d2-23dedd413a42.png
