<div class="bg-light complete-user">
  <div class="container py-5">
    <div class="row">
      <!-- Profile Header -->
      <div class="col-12 mb-4">
        <div class="profile-header position-relative mb-4">
          
        </div>
        <div class="text-center">
          <div class="position-relative d-inline-block">
            <img
              [src]="profile.profileImageUrl()"
              class="rounded-circle profile-pic"
              alt="Profile Picture"
            />
          </div>
          <h3 class="mt-3 mb-1">{{ nameDisplay() }}</h3>
          <p class="text-muted mb-3">{{ this.profile.userTitle() }}</p>
           <div class="d-flex justify-content-center gap-2 mb-4">
            <button class="btn btn-outline-primary"
            matTooltip="Send a direct message" 
            matTooltipPosition="below"
            >
              <i class="fas fa-envelope me-2"></i>Message
            </button>
            <button class="btn btn-primary"
            matTooltip="Ratings, 'experience with user'" 
            matTooltipPosition="below"
            >
              <i class="bi bi-stars"></i>Add Ratings
            </button>
          </div>
        </div>
      </div>

      <!-- Main Content -->
      <div class="col-12">
        <div class="card border-0 shadow-sm">
          <div class="card-body p-0">
            <div class="row g-0">
              <!-- Sidebar -->
              <div class="col-lg-3 border-end">
                <div class="p-4">
                  <div class="navbar-nav flex-column nav-pills">
                    <a class="nav-link" 
                    routerLink="/user-profile" 
                    routerLinkActive="active"
                    matTooltip="View personal details"
                    matTooltipPosition="below"
                    >
                      <i class="fas fa-user me-2"></i>Personal Info
                    </a>

                    <a class="nav-link" 
                    routerLink="/userProfileSecurity" 
                    routerLinkActive="active"
                    matTooltip="Password reset and account deletion" 
                    matTooltipPosition="below"
                    >
                      <i class="fas fa-lock me-2"></i>Security
                    </a>

                    <a class="nav-link" 
                    routerLink="/social-media-links" 
                    routerLinkActive="active"
                    matTooltip="Manage your social links" 
                    matTooltipPosition="below"
                    >
                      <i class="fas fa-bell me-2"></i>Social Media Links
                    </a>

                    <!--<a class="nav-link" routerLink="/billing-details" routerLinkActive="active">
                      <i class="fas fa-credit-card me-2"></i>Billing
                    </a> for future use-->

                    <a class="nav-link" 
                    routerLink="/profile-card" 
                    routerLinkActive="active"
                    matTooltip="View your public profile card" 
                    matTooltipPosition="below"
                    >
                      <i class="fas fa-chart-line me-2"></i>Profile Card
                    </a>
                  </div>
                </div>
              </div>

              <!-- Content Area -->
              <div class="col-lg-9">
                <!-- update profile through form submission (submit button will call this)-->
                <form [formGroup]="securityForm" (ngSubmit)="saveSecurity()">
                  <div class="p-4">
                    <!-- Personal Information -->
                    <div class="mb-4">
                      <h5 class="mb-4">Security Information</h5>
                      <!--verify a valid form has been sent banner pop up-->
                      @if (updateSuccess()) {
                        <div class="alert alert-success mt-3">
                          <strong>Success!</strong> Password Updated....
                        </div>
                      }
                      <!--if update fail-->
                      @if (updateError()) {
                        <div class="alert alert-danger mt-3 mb-4 animate__animated animate__fadeIn" role="alert">
                          <i class="fas fa-exclamation-circle me-2"></i>
                          {{ updateError() }}
                        </div>
                      }
                      <div class="row g-3">
                        <div class="col-md-6">
                          <label class="form-label">Current Password</label>
                          <input
                            formControlName="currentPassword"
                            type="password"
                            class="form-control"
                            value=""
                            matTooltip="Current Password required to update password" 
                            matTooltipPosition="below"
                          />
                          @if (
                            securityForm.get('currentPassword')?.touched &&
                            securityForm.get('currentPassword')?.hasError('required')
                          ) {
                            <div class="text-danger">Current Password is required.</div>
                          }     
                        </div>
                        <div class="col-md-6">
                          <label class="form-label">New Password</label>
                          <input
                            formControlName="newPassword"
                            type="password"
                            class="form-control"
                            value=""
                            matTooltip="Enter a new password" 
                            matTooltipPosition="below"
                          />
                          @if (
                            securityForm.get('newPassword')?.touched &&
                            securityForm.get('newPassword')?.hasError('required')
                          ) {
                            <div class="text-danger">Current Password is required.</div>
                          }     
                        </div>
                        <div class="col-md-6">
                          <label class="form-label">Confirm New Password</label>
                          <input
                            formControlName="confirmNewPassword"
                            type="password"
                            class="form-control"
                            value=""
                            matTooltip="Re-enter new password, Must Match!"
                            matTooltipPosition="below"
                          />
                          @if (securityForm.get('confirmNewPassword')?.touched &&
                              securityForm.get('confirmNewPassword')?.hasError('required')) {
                            <div class="text-danger">Confirmation Password is required.</div>
                          }

                          @if (securityForm.hasError('passwordsDontMatch') &&
                              securityForm.get('confirmNewPassword')?.touched) {
                            <div class="text-danger">Passwords do not match.</div>
                          }

                        </div>
                        <div class="col-md-6">
                          <label class="form-label">Security Question: </label>
                          <input class="form-control"
                            type="text"
                            formControlName="securityQuestion" 
                            value=""  readonly
                            matTooltip="The security question of choice on sign up" 
                            matTooltipPosition="below"/>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label">Security Questions: Answer</label>
                          <input
                            formControlName="securityAnswer"
                            type="text"
                            class="form-control"
                            value=""
                            matTooltip="Enter answer to the security question above" 
                            matTooltipPosition="below"
                          />
                           @if (securityForm.get('securityAnswer')?.touched &&
                              securityForm.get('securityAnswer')?.hasError('required')) {
                            <div class="text-danger">Answer to security question is required.</div>
                          }
                        </div>
                      </div>
                    </div>

                    <!-- Delete and Save buttons-->
                    <div class="row g-4 mb-4">
                      <div class="col-md-6">
                        <div class="settings-card card">
                          <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                              <div>
                                <h6 class="mb-1">Delete User Account</h6>
                                <p class="text-muted mb-0 small">
                                  Only use to delete your account
                                </p>
                              </div>
                              <div>
                                <button
                                  type="button"
                                  class="btn btn-danger"
                                  routerLink="/userProfileDeletion"
                                  matTooltip="Permanently Delete Account, proceed with caution" 
                                  matTooltipPosition="below"
                                >
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="settings-card card">
                          <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                              <div>
                                <h6 class="mb-1">Update Profile</h6>
                                <p class="text-muted mb-0 small">Only if you made changes</p>
                              </div>
                              <div>
                                <button type="button" 
                                class="btn 
                                btn-outline-primary" 
                                type="submit"  
                                matTooltip="Save Changes" 
                                matTooltipPosition="below">
                                  Save
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
