/* You can add global styles to this file, and also import other style files */
.content-area {
    background-image: url("./assets/images/dark_back.jpg");
    
    background-size: cover;
    
    /*height: 100vh;*/
    overflow-y: scroll;
}

html, body {
    overflow-y: auto !important;
}






