/* You can add global styles to this file, and also import other style files */
.content-area {
    background-size: cover;
    background-color: black;
    overflow-y: scroll;
}

html, body {
    overflow-y: auto !important;
}

body.dark-mode::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55); /* adjust darkness */
  pointer-events: none;
  z-index: 999999; /* sits above everything */
}

/*updating navbar css toggle switch (dark mode) / .darkModeSwitch is navbar.html*/
body.dark-mode .navbar .darkModeSwitch{
    background-color: blueviolet;
    color: white;
}




