<!--Global NavBar -->
<nav class="navbar fixed-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <!--Hamburger Menu Icon-->
    <button class="navbar-toggler border-0 p-0" type="button" (click)="isBurgerMenuOpen = !isBurgerMenuOpen" matTooltip="Menu" matTooltipPosition="below">
      <img class="img ms-3" src="assets/images/contract_dev_final.png" width="80" alt="Logo">
    </button>
    <!--Icon on larger viewport-->
    <a class="navbar-brand d-none d-lg-block" routerLink="/" (click)="uiService.showSearchBar.set(false)" matTooltip="Go to Home" matTooltipPosition="below">
      <img class="img ms-3" src="assets/images/contract_dev_final.png" alt="Logo" width="100">
    </a>

    <div class="collapse navbar-collapse" [class.show]="isBurgerMenuOpen" id="navbarMainContent">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <!--Home button-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" 
             [routerLinkActiveOptions]="{ exact: true}" (click)="isBurgerMenuOpen = false; uiService.showSearchBar.set(false)" matTooltip="Home Page" matTooltipPosition="below">
            <i class="bi bi-house-fill icon me-2 d-none d-lg-inline-block"></i>
            <span class="d-lg-none">Home</span> 
          </a>
        </li>
        <!--About button-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="isBurgerMenuOpen = false; uiService.showSearchBar.set(false)" matTooltip="About Page" matTooltipPosition="below">
            <i class="bi bi-exclamation-square-fill icon me-2 d-none d-lg-inline-block"></i>
            <span class="d-lg-none">About</span>
          </a>
        </li>
        <!--Only logged in users have access to these buttons-->
        @if(authService.isLoggedIn()){
          <!--Gallery button-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/profileGallery" routerLinkActive="active" (click)="isBurgerMenuOpen = false; uiService.showSearchBar.set(true)" matTooltip="Gallery Page" matTooltipPosition="below">
              <i class="bi bi-file-earmark-richtext icon me-2 d-none d-lg-inline-block"></i>
              <span class="d-lg-none">Gallery</span>
            </a>
          </li>
          <!--settings button-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-profile" routerLinkActive="active" (click)="isBurgerMenuOpen = false; uiService.showSearchBar.set(false)" matTooltip="Profile Settings" matTooltipPosition="below">
              <i class="bi bi-person-gear icon me-2 d-none d-lg-inline-block"></i>
              <span class="d-lg-none">Profile Settings</span>
            </a>
          </li>
          <!--Sign Out button-->
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" (click)="toggleSignInAndOut(); isBurgerMenuOpen = false; uiService.showSearchBar.set(false)" style="cursor: pointer;" matTooltip="Sign Out" matTooltipPosition="below">
              <i class="bi bi-x-circle icon me-2 d-none d-lg-inline-block"></i>
              <span class="d-lg-none">Sign Out</span>
            </a>
          </li>
        } @else {
          <!--If user is not logged in-->
          <!--Create Account button-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/sign-up" routerLinkActive="active" (click)="isBurgerMenuOpen = false; uiService.showSearchBar.set(false)"  matTooltip="Create Account Page" matTooltipPosition="below">
              <i class="bi bi-pencil-square icon me-2 d-none d-lg-inline-block"></i>
              <span class="d-lg-none">Create Account</span>
            </a>
          </li>
          <!--Login button-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active" (click)="isBurgerMenuOpen = false; uiService.showSearchBar.set(false)" matTooltip="Login Page" matTooltipPosition="below">
              <i class="bi bi-door-open-fill icon me-2 d-none d-lg-inline-block"></i>
              <span class="d-lg-none">Login</span>
            </a>
          </li>
        }
      </ul>
      <!--Dark mode toggle switch-->
      <div class="ms-3 me-2 mb-lg-0 d-flex align-items-center" 
          style="cursor: pointer;"
          (click)="toggleDarkMode()" 
          matTooltip="Toggle Dark/Light Mode" 
          matTooltipPosition="below">
        <!--Icon changes-->
        <i class="bi icon" 
          [class.bi-lightbulb-off]="darkMode()" 
          [class.bi-lightbulb-fill]="!darkMode()"
          >
        </i>
      </div>
    </div>

     <!--Search bar placeholder-->
     @if (uiService.showSearchBar()) {

      <div class="d-flex">
        <input #SearchTerm class="form-control me-2" type="search" (input)="onSearch(SearchTerm.value)" placeholder="Search" matTooltip="Run Search" matTooltipPosition="below">
        <button class="btn btn-outline-success" type="button" (click)="onSearch(SearchTerm.value)"><i class="bi bi-search"></i></button>
      </div>
    }
  </div>
</nav>
