<nav class="navbar fixed-top navbar-expand-lg">
  <img class="img ms-3" src="assets/images/contract_dev_final.png"  
             style="cursor: pointer;" 
             alt="Logo" width="100">
             

  <!--testing to see if I can get a hamburger menu working-->
  @if(this.authService.isLoggedIn){
  <div class="dropdown-menu-custom" [class.d-none]="!isBurgerMenuVisible">
    
    <a routerLink="/user-profile" (click)="isBurgerMenuVisible = false">Profile</a>
  </div>
  }
  <!--ensuring seperation-->

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="Home" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" class="nav-link"  ><i class="bi bi-house-fill icon me-2"></i></a>
      </li>
      <li class="nav-item">
        <a class="about" routerLink="/about" routerLinkActive="active" class="nav-link"><i class="bi bi-exclamation-square-fill icon me-2"></i></a>
      </li>
      @if(authService.isLoggedIn()){
      <li class="nav-item">
        <a class="gallery" routerLink="/profileGallery" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" class="nav-link" ><i class="bi bi-file-earmark-richtext icon me-2"></i></a>
      </li>
      }
       @if(!authService.isLoggedIn()){
      <li class="nav-item">
        <a class="sign_up" routerLink="/sign-up" routerLinkActive="active" class="nav-link"><i class="bi bi-pencil-square icon me-2"></i></a>
      </li>
      }
      @if(!authService.isLoggedIn()){ 
      <li class="nav-item">
        <a class="Login" routerLink="/login" routerLinkActive="active" class="nav-link"><i class="bi bi-door-open-fill icon me-2"></i></a>
      </li>
      }
      @if(authService.isLoggedIn()){
      <li class="nav-item">
        <a class="user-profile" routerLink="/user-profile" routerLinkActive="active" class="nav-link"><i class="bi bi-person-gear icon me-2"></i></a>
      </li>
      }
      @if(authService.isLoggedIn()){
      <li class="nav-item">
        <a class="log_out" (click)="toggleSignInAndOut()" class="nav-link"><i class="bi bi-x-circle icon me-2"></i></a>
      </li>
      }
      
    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search">
      <button class="search btn btn-outline-success me-3" type="submit"><i class="bi bi-search"></i></button>
    </form>
  </div>
</nav>
