<!-- Section: Design Block (TO DO: ensure all inputs are validated correctly) -->
<section class="entire text-center text-lg-start">
  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right bg-body-tertiary">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Forgot Password?</h2>
            <form [formGroup]="passwordResetForm" (ngSubmit)="handleLogin()">
              <!--verify a valid form has been sent banner pop up-->
              @if (loggedIn()) {
                <div class="alert alert-success mt-3">
                  <strong>Password Reset!</strong> You are logged in.
                </div>
              }
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="email"
                  type="email"
                  id="form3Example3"
                  class="form-control"
                />
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

              <div class="row">
                <!--Country DropDown Menu-->
                <div class="col-md-12 mb-4">
                  <select class="form-control form-control-lg" formControlName="securityQuestion">
                    <option value="" disabled selected>Select a security question</option>
                    @for (q of securityQuestions(); track $index) {
                      <option [value]="q">{{ q }}</option>
                    }
                  </select>
                  <label class="form-label">Security Question</label>
                  @if (
                    passwordResetForm.get('securityQuestion')?.touched &&
                    passwordResetForm.get('securityQuestion')?.hasError('required')
                  ) {
                    <div class="text-danger">Security question is required.</div>
                  }
                </div>
              </div>

              <!-- Security Answer input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="securityAnswer"
                  type="text"
                  id="form3Example4"
                  class="form-control"
                />
                <label class="form-label" for="form3Example4">Security Answer</label>
              </div>

              <!-- new password input-->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="newPassword"
                  type="text"
                  id="form3Example4"
                  class="form-control"
                />
                <label class="form-label" for="form3Example4">New Password</label>
              </div>

              <!-- re-enter newpassword input-->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="reEnterNewPassword"
                  type="text"
                  id="form3Example4"
                  class="form-control"
                />
                <label class="form-label" for="form3Example4">Re-enter New Password</label>
              </div>

              <!-- Submit button -->
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="login-btn btn btn-primary btn-block mb-4"
              >
                Log In
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="assets/images/rocket_computer.png" class="w-100 shadow-4 login-img" alt="" />
      </div>
    </div>
  </div>
</section>
