/* form over laps the image on the right*/
.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}
/*forgot password form card*/
.card {
  border-radius: 20px;
  box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.5) !important;
}
/*image behind and to right of the log in form*/
.password-reset-img {
  border-radius: 20px;
  box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.5) !important;
}
/*ensures space below the navbar*/
.entire {
  margin-top: 90px;
}

/*reset password button*/
.reset-password-btn {
  background-color: rgb(183, 113, 248);
}

.reset-password-btn:hover {
  background-color: blueviolet;
  transform: scale(1.02);
}
