<section class="entire text-center text-lg-start">
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right bg-body-tertiary">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Forgot Password?</h2>
            <form [formGroup]="passwordResetForm" (ngSubmit)="handleAccountRecovery()">
              <!--verify a valid form has been sent banner pop up-->
              @if (updatedPassword()) {
                <div class="alert alert-success mt-3">
                  <strong>Password Reset!</strong> You are logged in.
                </div>
              }
              <!--if login fail-->
              @if (loginError()) {
                <div class="alert alert-danger mt-3 mb-4 animate__animated animate__fadeIn" role="alert">
                  <i class="fas fa-exclamation-circle me-2"></i>
                  {{ loginError() }}
                </div>
              }
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="email"
                  type="email"
                  id="form3Example3"
                  class="form-control"
                />
                <label class="form-label" for="form3Example3">Email address</label>
                @if (
                      passwordResetForm.get('email')?.touched &&
                      passwordResetForm.get('email')?.hasError('required')
                    ) {
                      <div class="text-danger">Email address is required.</div>
                    }          
              </div>

              <div class="row">
                <!--Country DropDown Menu-->
                <div class="col-md-12 mb-4">
                  <select class="form-control form-control-lg" formControlName="securityQuestion">
                    <option value="" disabled selected>Select a security question</option>
                    @for (q of securityQuestions(); track $index) {
                      <option [value]="q">{{ q }}</option>
                    }
                  </select>
                  <label class="form-label">Security Question</label>
                  @if (
                    passwordResetForm.get('securityQuestion')?.touched &&
                    passwordResetForm.get('securityQuestion')?.hasError('required')
                  ) {
                    <div class="text-danger">Security question is required.</div>
                  }
                </div>
              </div>

              <!-- Security Answer input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="securityAnswer"
                  type="text"
                  id="form3Example4"
                  class="form-control"
                />
                <label class="form-label" for="form3Example4">Security Answer</label>
                @if (
                    passwordResetForm.get('securityAnswer')?.touched &&
                    passwordResetForm.get('securityAnswer')?.hasError('required')
                  ) {
                    <div class="text-danger">Security answer is required.</div>
                  }
              </div>

              <!-- new password input-->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="newPassword"
                  type="text"
                  id="form3Example4"
                  class="form-control"
                />
                <label class="form-label" for="form3Example4">New Password</label>
                @if (
                    passwordResetForm.get('newPassword')?.touched &&
                    passwordResetForm.get('newPassword')?.hasError('required')
                  ) {
                    <div class="text-danger">New password is required.</div>
                  }
              </div>

              <!-- re-enter newpassword input-->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  formControlName="confirmNewPassword"
                  type="text"
                  id="form3Example4"
                  class="form-control"
                />
                <label class="form-label" for="form3Example4">Re-enter New Password</label>
                @if (
                    passwordResetForm.get('confirmNewPassword')?.touched &&
                    passwordResetForm.get('confirmNewPassword')?.hasError('required')
                  ) {
                    <div class="text-danger">Re-enter your new password is required.</div>
                  }
              </div>

              <!-- Submit button -->
              <button
                type="submit"
                data-mdb-button-init
                data-mdb-ripple-init
                class="reset-password-btn btn btn-primary btn-block mb-4"
              >
                Reset Password
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="assets/images/rocket_computer.png" class="w-100 shadow-4 password-reset-img" alt="" />
      </div>
    </div>
  </div>
</section>
