
<!--modal that pops to keep UI clean displays the skills associated to the profile-->
<div class="modal fade" [id]="'skills-modal-' + user?.userId" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Skills-{{ isdisplayUserName() }}</h5>
       
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <ul class="list-group">
          @if(selectedSkills().length > 0){
            @for (skill of selectedSkills(); track skill) {
              <li class="list-group-item">{{ skill }}</li>
            }
          }@else{
            <p>No Skills added yet.</p>
          }
        </ul>
      </div>

    </div>
  </div>
</div>

