.main {
    margin-top: 0px;
    padding-bottom: 50px;
    overflow-x: hidden !important;
}

app-intro-banner,
app-marketing-banner {
  display: block;
  min-height: 250px; /* adjust to your design */
}


.two, .img {
    border-radius: 20px;
}

.collapse-card {
  height: 200px; /* or auto with padding */
  padding: 20px;
  background: #eee;
}

.collapse-horizontal {
  transition: width 0.6s ease !important; /* slower, smoother */
}

.intro-banner {

 box-shadow: 
    0 0 7px #fff,               /* Sharp white core for intensity */
    0 0 10px #fff,              /* Slight blur for bloom */
    0 0 21px #af00fa,               /* Main luminous color  */
    0 0 42px #af00fa,               /* Wider glow */
    0 0 72px #af00fa;               /* Distant environmental glow , */
    
  border-radius: 8px;           /* Softens the edges of the glow */
  border-bottom: 1px solid  #af00fa        /* Optional: thin border to define the edge */
}



.box {
  width: 300px;
  height: 200px;
  opacity: 0;
  transform: translateY(50%); /* hidden to the left */
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.box.visible {
  opacity: 1;
  transform: translateY(0); /* slides into view */
  background: #eee;
}

.custom-img {
  border-radius: 20px;
  max-height: 500px;
  max-width: 500px;
}

.count {
  color: white;
}

.button {
  background-color: #af00fa;
  border: 1px solid #af00fa;
}

video .bottom-video {
  border-radius: 20px;
  width: 50px;

}

.multi-cards {
 box-shadow: 
    0 0 7px #fff,               /* Sharp white core for intensity */
    0 0 10px #fff,              /* Slight blur for bloom */
    0 0 21px #af00fa,               /* Main luminous color */
    0 0 42px #af00fa,               /* Wider glow */
    0 0 72px #af00fa;               /* Distant environmental glow , */
    
  border-radius: 8px;           /* Softens the edges of the glow */
  border: 1px solid  #af00fa        /* Optional: thin border to define the edge */
}

.glass-card {
  backdrop-filter: blur(12px);
  background: rgba(182, 211, 211, 0.25);
  color: white;
  border-radius: 20px;
  border: 1px solid  #af00fa; 
}

.bottom-video {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}


