/*.custom-img {

  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

.marketing-banner.visible {
    opacity: 0;
    
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.marketing-banner {
    opacity: 1;
    z-index: 10;
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.market-cards {
 box-shadow: 
    0 0 7px #fff,               /* Sharp white core for intensity */
    0 0 10px #fff,              /* Slight blur for bloom */
    0 0 21px #af00fa,               /* Main luminous color (e.g., Neon Green #0fa) */
    0 0 42px #af00fa,               /* Wider glow */
    0 0 72px #af00fa;               /* Distant environmental glow #0fa, */
    
  border-radius: 10px;           /* Softens the edges of the glow */
  border: 1px solid  #af00fa        /* Optional: thin border to define the edge */
}

