<nav class="navbar fixed-top navbar-expand-lg">
  <a class="navbar-brand ms-3" href="#"><img class="img" src="assets/images/contract_dev_final.png" (click)="toggleBurgerMenu()" 
             style="cursor: pointer;" 
             alt="Logo" width="100"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--testing to see if I can get a hamburger menu working-->
  <div class="dropdown-menu-custom" [class.d-none]="!isBurgerMenuVisible">
    <a routerLink="/user-profile" (click)="isBurgerMenuVisible = false">Profile</a>
  </div>

  <!--ensuring seperation-->

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="Home" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="about" routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a class="gallery" routerLink="/profileGallery" routerLinkActive="active" class="nav-link">Gallery</a>
      </li>
       @if(!this.authService.isLoggedIn){
      <li class="nav-item">
        <a class="sign_up" routerLink="/sign-up" routerLinkActive="active" class="nav-link">Sign Up</a>
      </li>
      }
      @if(!this.authService.isLoggedIn){ 
      <li class="nav-item">
        <a class="Login" routerLink="/login" routerLinkActive="active" class="nav-link">Log In</a>
      </li>
      }
      @if(this.authService.isLoggedIn){
      <li class="nav-item">
        <a class="log_out" (click)="toggleSignInAndOut()" class="nav-link">Log Out</a>
      </li>
      }
      <!--testing if this is needed (in burger menu)
      <li class="nav-item">
        <a class="user-profile" routerLink="/user-profile" routerLinkActive="active" class="nav-link">User Profile</a>
      </li>
      <li class="nav-item">
        <a class="billing-details" routerLink="/billing-details" routerLinkActive="active" class="nav-link">Billing Details</a>
      </li>
    --
      <li class="nav-item">
        <a class="profile-design" routerLink="/profileDisplaycard" routerLinkActive="active" class="nav-link">Design-card</a>
      </li>-->
    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search">
      <button class="search btn btn-outline-success me-3" type="submit">Search</button>
    </form>
  </div>
</nav>
